@font-face {
    font-family: "PF Din Text Cond Pro";
    font-style: normal;
    font-weight: 400;
	src: url('fonts/PFDinTextCondPro-Regular.ttf'); 
}
@font-face {
    font-family: "PF Din Text Cond Pro";
    font-style: normal;
    font-weight: 700;
	src: url('fonts/PFDinTextCondPro-Bold.ttf'); 
}
* {
    margin: 0;
    /* padding: 0; */
    font-family: "PF Din Text Cond Pro";
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid var(--Secondary, #2C3754);
    background: linear-gradient(180deg, #131B30 0%, rgba(19, 27, 48, 0.85) 100%);
    backdrop-filter: blur(4px);
    color: #fff;
}
header a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    padding-bottom: 15px;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo__text div {
    display: flex;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header-contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: right;
}
.header-contacts__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header-contacts__tel {
    font-weight: bold;
}
.header-contacts__cart {
    padding: 0;
    background: none;
    border: none;
}
.header-burger {
    padding: 0;
    background: none;
    border: none;
}
.header-burger {
    display: none;
}
.hero {
    background: url(img/hero.jpg) center / cover no-repeat;
    color: #fff;
}
.gradient {
    background: linear-gradient(261deg, rgba(19, 27, 48, 0.30) 0%, rgba(19, 27, 48, 0.20) 0.01%, rgba(19, 27, 48, 0.80) 73.55%);
}
.hero .container {
    padding: 140px 95px 100px;
}
h1 {
    margin-bottom: 35px;
    font-size: 72px;
    /* font-size: clamp(48px, 5vw, 72px); */
    font-size: clamp(30px, 5vw, 72px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.hero p {
    font-size: 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}
.btn {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 20px 55px 20px 20px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
}
.btn::after {
    position: absolute;
    top: 7px;
    right: 5px;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url('img/arrow.svg') #008EEA center / 18px no-repeat;border-radius: 50px;
}
.target .container {
    padding-top: 50px;
    padding-bottom: 90px;
}
.target__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 30px;
    list-style: none;
}
h2, .h2 {
    margin-bottom: 30px;
    font-size: clamp(36px, 5vw, 64px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
h3, .h3 {
    margin-bottom: 10px;
    color: var(--White, #FFF);
    font-size: 48px;
    font-size: clamp(28px, 5vw, 48px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
h4, .h4 {
    color: var(--White, #FFF);
    font-size: clamp(24px, 5vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.target__item {
    width: 100%;
    height: 100%;
    min-height: 370px;
    padding: 30px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
}
.target__item--office {
    background-image: url(img/office.jpg);
}
.target__item--education {
    background-image: url(img/education.jpg);
}
.heading {
    margin-bottom: 15px;
    color: var(--Primary, #008EEA);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
.experience {
    background: url(img/experience.jpg) center / cover no-repeat;
    color: #fff;
}
.experience .container {
    padding-top: 65px;
    padding-bottom: 65px;
}
.experience__tags {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.experience__tags a {
    padding: 12px 15px;
    border-radius: 30px;
    color: #fff;
    background: var(--Primary, #008EEA);
    text-decoration: none;
}
p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.catalog-main {
    margin-top: 90px;
    margin-bottom: 90px;
}
.catalog-main__item {
    height: 360px;
    padding: 25px;
    background: red;
    border-radius: 7px;
    background: linear-gradient(180deg, #131B30 0%, rgba(19, 27, 48, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.catalog-main__name {
    color: var(--White, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
}
.catalog-main__item p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.swiper-button-next,
.swiper-button-prev {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: block;
}
.swiper-button-prev {
    background: url(img/arrow-left.svg) #2C3754 center no-repeat;
}
.swiper-button-next {
    background: url(img/arrow-right.svg) #2C3754 center no-repeat;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}
.discription {
    margin-bottom: 60px;
}
.discription__list {
    display: grid;
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.discription__list a {
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
    padding: 20px;
    border-radius: 7px;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0px 10px 40px -10px rgba(19, 27, 48, 0.25);
}
.discription__list a::after {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    background: url(img/arrow.svg) center / contain no-repeat;
}
.discription__list .guarantees {
    background: url(img/guarantees.png), lightgray 50% center / cover no-repeat;
}
.discription__list .your-tasks {
    background: url(img/your-tasks.png) center / cover no-repeat;
}
.discription__list .cards {
    background: url(img/cards.png) right bottom no-repeat;
    background-color: var(--Dark, #131B30);
}
.discription__list .map {
    color: var(--Dark, #131B30);
    background: url(img/map.png) center 80% / contain no-repeat;
}
.discription__name {
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    text-transform: uppercase;
}
.news {
    margin-top: 60px;
}
.news .heading {
    text-align: center;
}
.news h2 {
    text-align: center;
}
.news__list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.news__item {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 30px 60px;
    border-radius: 7px;
    color: #FFF;
    min-height: 190px;
}
.news__item--gubernatorskiy-licey-v-solnechnom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 1/3;
    grid-column: 1/3;
    background: url(img/gubernatorskiy-licey-v-solnechnom.jpg) center / cover no-repeat;
}
.news__item--win {
    background: url(img/win.jpg) center / cover no-repeat;
}
.news__item--resepshen {
    background: url(img/resepshen.jpg) center / cover no-repeat;
}
.news__name {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: clamp(20px, 5vw, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
}
.bottom-link {
    position: absolute;
    bottom: 25px;
    left: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
    background: url(img/arrow-right.svg) center right / 12px no-repeat;
}
.wide-link {
    display: block;
    margin-top: 50px;
    margin-bottom: 100px;
    color: var(--Dark, #131B30);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.catalog-hero {
    background-image: url(/img/catalog-hero.jpg);
}
.catalog-category {
    padding-top: 30px;
    padding-bottom: 35px;
}
.catalog-category__list {
    display: grid;
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px , 1fr));
    list-style: none;
}
.catalog-category__item {
    position: relative;
    width: 100%;
    height: 195px;
    padding: 30px 50px 30px 25px;
    display: flex;
    align-items: flex-end;
    
    text-decoration: none;
    color: var(--White, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 33.6px */
    text-transform: uppercase;
    border-radius: 7px;
}
.catalog-category__item::after {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background: url(/img/arrow.svg) #2C3754 center / 16px no-repeat;
    border-radius: 50px;
}
.catalog-category__item.director {
    grid-column: 1/3;
    background: url(/img/director.jpg) center / cover no-repeat;
}
.catalog-category__item.personal {
    grid-column: 3/5;
    background: url(/img/personal.jpg) center / cover no-repeat;
}
.catalog-category__item.furniture {
    background: url(/img/furniture.jpg) center / cover no-repeat;
}
.catalog-category__item.conversation {
    background: url(/img/conversation.jpg) center / cover no-repeat;
}
.catalog-category__item.reception {
    background: url(/img/reception.jpg) center / cover no-repeat;
}
.catalog-category__item.dispatcher {
    background: url(/img/dispatcher.jpg) center / cover no-repeat;
}
.btn-center {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    justify-content: center;
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
}
.btn-black {
    border-color: #131B30;
    color: var(--Dark, #131B30);
}
.btn-black::after {
    background-color: #131B30;
}
.catalog_buttons {
    width: 180px;
}
.catalog_buttons .btn {
    width: 100%;
}
.btn-clear {
    width: 100%;
    margin-top: 20px;
    background: none;
    border: none;
    color: var(--Dark-grey, #B5B6BB);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.catalog {
    margin-top: 50px;
    margin-bottom: 70px;
}
.catalog__show-filter {
    display: none;
}
.catalog__box {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
}
.catalog h2 {
    color: var(--Secondary, #2C3754);
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}
.catalog__heading {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.catalog__heading:not(:first-child) {
    margin-top: 20px;
}
.catalog__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.catalog__colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.catalog__gap {
    display: flex;
    gap: 4px;
    align-items: center;
}
.catalog__gap input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--Grey, #EDEDED);
    background: #F5F5F5;
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    padding: 4px 8px;
}
.catalog__products {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    align-items: baseline;
    margin-bottom: 30px;
}
.catalog__products--school {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.catalog__product {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    border: 1px solid var(--Grey, #EDEDED);
    background: linear-gradient(180deg, #FFF 45.83%, #EDEDED 100%);
    overflow: auto;
}
.catalog__size {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.catalog__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.catalog__inputs > div {
    display: flex;
    gap: 15px;
}
.catalog__inputs label {
    color: var(--Secondary, #2C3754);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.catalog__article {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
}
.catalog__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.catalog__title {
    color: var(--Dark, #131B30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.catalog__product select {
    border-radius: 3px;
    border: 1px solid var(--Dark-grey, #B5B6BB);
    background: var(--Grey, #EDEDED);
    color: var(--Secondary, #2C3754);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.catalog__price {
    color: var(--Primary, #008EEA);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--Secondary, #2C3754);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
}
.buy::after {
    content: '';
    width: 25px;
    height: 25px;
    background: url('img/plus.svg'), #2C3754 center;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.catalog__pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
.catalog__page {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Secondary, #2C3754);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    border-radius: 50px;
    background: var(--Grey, #EDEDED);
    text-decoration: none;
}
.catalog__page.active {
    color: var(--White, #FFF);
    background: var(--Secondary, #2C3754);
}
.implemented__list {
    display: grid;
    gap: 30px;
    justify-items: center;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.implemented__item {
    width: 100%;
    height: 340px;
    padding: 40px 45px;
    border-radius: 10px;
    background: linear-gradient(180deg, #131B30 0%, rgba(19, 27, 48, 0.00) 100%);
}
.implemented__item--1 {
    background: url(/img/implemented-item-1.jpg) center / cover no-repeat;
}
.implemented__item--2 {
    background: url(/img/implemented-item-2.jpg) center / cover no-repeat;
}
.implemented__item--3 {
    background: url(/img/implemented-item-3.jpg) center / cover no-repeat;
}
.implemented__title {
    color: var(--Secondary, #2C3754);
}
.implemented__item h4 {
    margin-bottom: 30px;
}
.implemented__item .bottom-link {
    position: initial;
}
.inner-hero {
    background: #131B30;
}
.inner-hero .container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.inner-hero h1 {
    color: #fff;
    margin: 0;
}
.tags .container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 20px;
}
.tag {
    padding: 8px 18px;
    border-radius: 150px;
    background: var(--Grey, #EDEDED);
}
.tag--active {
    background: var(--Secondary, #2C3754);
    color: #fff;
}
.news-catalog {
    padding-bottom: 100px;
}
.news-catalog .news__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    list-style: none;
    margin: 20px auto;
}
.news-catalog .news__item {
    padding: 0;
    border-radius: 7px;
    background: #F7F7F7;
}
.news-catalog .news__box {
    padding: 20px;
    padding-bottom: 50px;
    color: #131B30;
}
.news-catalog .news__item a {
    color: #131B30;
}
.news-catalog .news__item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 7px;
}
.news-catalog .bottom-link {
    left: 20px;
}
.news-catalog .news__date {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.news-catalog .news__name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.portfolio__box .container {
    display: grid;
    gap: 70px;
    grid-template-columns: 370px 1fr;
    padding-top: 60px;
    padding-bottom: 100px;
    align-items: start;
}
.portfolio__menu {
    padding: 30px;
    border-radius: 10px;
    background: var(--Light-grey, #F7F7F7);
}
.portfolio__heading {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}
.portfolio__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--Secondary, #2C3754);
    font-size: clamp(20px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.portfolio__list .heading {
    color: var(--Primary, #008EEA);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
}
.portfolio__list .implemented__item {
    position: relative;
    padding-bottom: 100px;
}
.portfolio__list .bottom-link {
    position: absolute;
    bottom: 40px;
    left: 45px;
}
.policy__info {
    padding-top: 40px;
    padding-bottom: 200px;
}
.policy__info p {
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.bg {
    background: url(img/bg-404.svg), linear-gradient(180deg, #131B30 0%, #2C3754 100%);
}
.page-404 .container {
    padding-top: 100px;
    padding-bottom: 170px;
}
.page-404 img {
    width: 100%;
    margin: auto;
}
.page-404 h1 {
    margin-top: 40px;
    color: var(--White, #FFF);
    text-align: center;
    font-size: clamp(28px, 5vw, 48px);
}
.white-hero {
    background: #F7F7F7;
}
.white-hero h1 {
    color: var(--Secondary, #2C3754);
}
.delivery__info,
.delivery__info p {
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 35px;
}
.delivery__info .container {
    padding-top: 40px;
    padding-bottom: 90px;
}









footer {
    padding-top: 55px;
    padding-bottom: 20px;
    background: #131B30;
    color: #fff;
}
footer a {
    color: #fff;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 30px 50px;
    border-radius: 7px;
    border: 1px solid #2C3754;
    background: rgba(44, 55, 84, 0.20);
}
.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    padding-top: 25px;
    align-items: flex-start;
    list-style: none;
    border-top: 1px solid #2C3754;
}
.footer__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.footer__heading {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--Primary, #008EEA);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
}
.footer__info {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}
footer address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
footer a {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    text-decoration: none;
}
.footer__social {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
.footer__social a {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}





















@media (max-width: 1250px) {
    .header-logo__text {
        display: none;
    }
    .portfolio__box .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .portfolio__list .implemented__item {
        padding: 20px;
    }
    .portfolio__list .bottom-link {
        position: initial;

    }
    .catalog-category__item.director {
        grid-column: auto;
    }
    .catalog-category__item.personal {
        grid-column: auto;
    }
    .footer-logo__text {
        display: block;
    }
}
@media (max-width: 1024px) {
    .header-nav,
    .header-contacts__list,
    .header-contacts__vk,
    .header-contacts__telegram {
        display: none;
    }
    .header-burger {
        display: block;
    }
    .catalog__box {
        grid-template-columns: 1fr;
    }
    .catalog__show-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        color: var(--White, #FFF);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 14px */
        text-transform: uppercase;
        border-radius: 7px;
        border: none;
        background: var(--Secondary, #2C3754);
    }
    .catalog__show-filter::after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background: url(img/setting.svg) center no-repeat;
    }
    .catalog__filter {
        display: none;
    }
    .tags .container {
        margin-top: 40px;
    }
    .portfolio__menu {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .implemented__item {
        height: auto;
    }
}
@media (max-width: 768px) {
    .hero .container {
        padding: 95px 20px 155px;
    }
    .target__list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
    .news__list {
        grid-template-columns: 1fr;
    }
    .news__item--gubernatorskiy-licey-v-solnechnom {
        grid-row: auto;
        grid-column: auto;
    }
    .implemented__list {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .news-catalog .news__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        list-style: none;
        margin: 20px auto;
    }
    .footer__logo {
        margin: auto;
        text-align: center;
    }
    .footer__list {
        text-align: center;
    }
    .footer__item {
        width: 100%;
    }
}