@font-face {
    font-family: "PF Din Text Cond Pro";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/PFDinTextCondPro-Regular.ttf');
}

@font-face {
    font-family: "PF Din Text Cond Pro";
    font-style: normal;
    font-weight: 700;
    src: url('fonts/PFDinTextCondPro-Bold.ttf');
}

* {
    margin: 0;
    /* padding: 0; */
    font-family: "PF Din Text Cond Pro";
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.wide-img {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

header {
    border-bottom: 1px solid var(--Secondary, #2C3754);
    background: linear-gradient(180deg, #131B30 0%, rgba(19, 27, 48, 0.85) 100%);
    backdrop-filter: blur(4px);
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
    padding-bottom: 15px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo__text div {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: right;
}

.header-contacts__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-contacts__tel {
    font-weight: bold;
}

.header-contacts__cart {
    padding: 0;
    background: none;
    border: none;
}

.header-burger {
    padding: 0;
    background: none;
    border: none;
}

.header-burger {
    display: none;
}

.hero {
    background: url(img/hero.jpg) center / cover no-repeat;
    color: #fff;
}

.hero p {
    color: #fff;
}

.gradient {
    background: linear-gradient(261deg, rgba(19, 27, 48, 0.30) 0%, rgba(19, 27, 48, 0.20) 0.01%, rgba(19, 27, 48, 0.80) 73.55%);
}

.hero .container {
    padding: 140px 95px 100px;
}

h1 {
    margin-bottom: 35px;
    font-size: 72px;
    /* font-size: clamp(48px, 5vw, 72px); */
    font-size: clamp(30px, 5vw, 72px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.hero p {
    font-size: 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.btn {
    position: relative;
    display: block;
    margin-top: 30px;
    padding: 20px 55px 20px 20px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 14px */
    text-transform: uppercase;
    background: transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

.btn::after {
    position: absolute;
    top: 7px;
    right: 5px;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url('img/arrow.svg') #008EEA center / 18px no-repeat;
    border-radius: 50px;
}

.target .container {
    padding-top: 50px;
    padding-bottom: 90px;
}

.target p {
    color: #fff;
}

.target__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

h2,
.h2 {
    margin-bottom: 30px;
    font-size: clamp(36px, 5vw, 64px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: var(--Secondary, #2C3754);
}

h3,
.h3 {
    margin-bottom: 10px;
    font-size: 48px;
    font-size: clamp(28px, 5vw, 48px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: var(--Secondary, #2C3754);
}

h4,
.h4 {
    color: var(--Secondary, #2C3754);
    font-size: clamp(24px, 5vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h5, .h5 {
    margin-bottom: 30px;
    color: var(--Dark, #131B30);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.target__item {
    width: 100%;
    height: 100%;
    min-height: 370px;
    padding: 30px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
}
.target__item h3 {
    color: #fff;
}

.target__item--office {
    background-image: url(img/office.jpg);
}

.target__item--education {
    background-image: url(img/education.jpg);
}

.heading {
    margin-bottom: 15px;
    color: var(--Primary, #008EEA);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27px */
    text-transform: uppercase;
}

.experience {
    background: url(img/experience.jpg) center / cover no-repeat;
    color: #fff;
}

.experience h2 {
    color: #fff;
}

.experience p {
    color: #fff;
}

.experience .container {
    padding-top: 65px;
    padding-bottom: 65px;
}

.experience__tags {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.experience__tags a {
    padding: 12px 15px;
    border-radius: 30px;
    color: #fff;
    background: var(--Primary, #008EEA);
    text-decoration: none;
}

p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

p {
    color: var(--Secondary, #2C3754);
    /* body_1 */
    font-family: PF Din Text Cond Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    margin-bottom: 40px;
}

.catalog-main {
    margin-bottom: 90px;
}

.catalog-main__item {
    height: 360px;
    padding: 25px;
    background: red;
    border-radius: 7px;
    background: linear-gradient(180deg, #131B30 0%, rgba(19, 27, 48, 0.00) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.catalog-main__name {
    color: var(--White, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 42px */
    text-transform: uppercase;
}

.catalog-main__item p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.swiper {
    margin: 50px auto;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: block;
}

.swiper-button-prev {
    background: url(img/arrow-left.svg) #2C3754 center no-repeat;
}

.swiper-button-next {
    background: url(img/arrow-right.svg) #2C3754 center no-repeat;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.discription {
    margin-bottom: 60px;
}

.discription__list {
    display: grid;
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.discription__list a {
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
    padding: 20px;
    border-radius: 7px;
    color: #FFF;
    text-decoration: none;
    box-shadow: 0px 10px 40px -10px rgba(19, 27, 48, 0.25);
}

.discription__list a::after {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    background: url(img/arrow.svg) center / contain no-repeat;
}

.discription__list a.map::after {
    background: url(img/arrow-black.svg) center / contain no-repeat;
}

.discription__list .guarantees {
    background: url(img/guarantees.png), lightgray 50% center / cover no-repeat;
}

.discription__list .your-tasks {
    background: url(img/your-tasks.png) center / cover no-repeat;
}

.discription__list .cards {
    background: url(img/cards.png) right bottom no-repeat;
    background-color: var(--Dark, #131B30);
}

.discription__list .map {
    color: var(--Dark, #131B30);
    background: url(img/map.png) center 80% / contain no-repeat;
}

.discription__name {
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    text-transform: uppercase;
}

.news {
    margin-top: 60px;
}

.news .heading {
    text-align: center;
}

.news h2 {
    text-align: center;
}

.news__list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.news__item {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 30px 60px;
    border-radius: 7px;
    color: #FFF;
    min-height: 190px;
}

.news__item--gubernatorskiy-licey-v-solnechnom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-row: 1/3;
    grid-column: 1/3;
    background: url(img/gubernatorskiy-licey-v-solnechnom.jpg) center / cover no-repeat;
}

.news__item--win {
    background: url(img/win.jpg) center / cover no-repeat;
}

.news__item--resepshen {
    background: url(img/resepshen.jpg) center / cover no-repeat;
}

.news__name {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: clamp(20px, 5vw, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 42px */
    text-transform: uppercase;
}

.bottom-link {
    position: absolute;
    bottom: 25px;
    left: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
    background: url(img/arrow-right.svg) center right / 12px no-repeat;
}

.wide-link {
    display: block;
    color: var(--Dark, #131B30);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-hero {
    background-image: url(/img/catalog-hero.jpg);
}

.catalog-category__list {
    display: grid;
    gap: 30px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    list-style: none;
}

.catalog-category__item {
    position: relative;
    width: 100%;
    height: 195px;
    padding: 30px 50px 30px 25px;
    display: flex;
    align-items: flex-end;

    text-decoration: none;
    color: var(--White, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 33.6px */
    text-transform: uppercase;
    border-radius: 7px;
}

.catalog-category__item::after {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background: url(/img/arrow.svg) #2C3754 center / 16px no-repeat;
    border-radius: 50px;
}

.catalog-category__item.director {
    grid-column: 1/3;
    background: url(/img/director.jpg) center / cover no-repeat;
}

.catalog-category__item.personal {
    grid-column: 3/5;
    background: url(/img/personal.jpg) center / cover no-repeat;
}

.catalog-category__item.furniture {
    background: url(/img/furniture.jpg) center / cover no-repeat;
}

.catalog-category__item.conversation {
    background: url(/img/conversation.jpg) center / cover no-repeat;
}

.catalog-category__item.reception {
    background: url(/img/reception.jpg) center / cover no-repeat;
}

.catalog-category__item.dispatcher {
    background: url(/img/dispatcher.jpg) center / cover no-repeat;
}

.btn-center {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    justify-content: center;
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-black {
    border-color: #131B30;
    color: var(--Dark, #131B30);
}

.btn-black::after {
    background-color: #131B30;
}

.catalog_buttons {
    width: 180px;
}

.catalog_buttons .btn {
    width: 100%;
}

.btn-clear {
    width: 100%;
    margin-top: 20px;
    background: none;
    border: none;
    color: var(--Dark-grey, #B5B6BB);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.catalog {
    margin-top: 50px;
    margin-bottom: 70px;
}

.catalog__show-filter {
    display: none;
}

.catalog__box {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
}

.catalog h2 {
    color: var(--Secondary, #2C3754);
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

.catalog__heading {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.catalog__heading:not(:first-child) {
    margin-top: 20px;
}

.catalog__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.catalog__colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.catalog__gap {
    display: flex;
    gap: 4px;
    align-items: center;
}

.catalog__gap input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--Grey, #EDEDED);
    background: #F5F5F5;
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    padding: 4px 8px;
}

.catalog__products {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    align-items: baseline;
    margin-bottom: 30px;
}

.catalog__products--school {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.catalog__product {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    border: 1px solid var(--Grey, #EDEDED);
    background: linear-gradient(180deg, #FFF 45.83%, #EDEDED 100%);
    overflow: auto;
}

.catalog__size {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.catalog__inputs>div {
    display: flex;
    gap: 15px;
}

.catalog__inputs label {
    color: var(--Secondary, #2C3754);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog__article {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 12px */
}

.catalog__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.catalog__title {
    color: var(--Dark, #131B30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.catalog__product select {
    border-radius: 3px;
    border: 1px solid var(--Dark-grey, #B5B6BB);
    background: var(--Grey, #EDEDED);
    color: var(--Secondary, #2C3754);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog__price {
    color: var(--Primary, #008EEA);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: var(--Secondary, #2C3754);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;
}

.buy::after {
    content: '';
    width: 25px;
    height: 25px;
    background: url('img/plus.svg'), #2C3754 center;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.catalog__pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.catalog__page {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Secondary, #2C3754);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 100% */
    border-radius: 50px;
    background: var(--Grey, #EDEDED);
    text-decoration: none;
}

.catalog__page.active {
    color: var(--White, #FFF);
    background: var(--Secondary, #2C3754);
}

.implemented__list {
    display: grid;
    gap: 30px;
    justify-items: center;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 0;
}

.implemented__item {
    width: 100%;
    height: 340px;
    border-radius: 10px;
}

.implemented__item h4 {
    color: #fff;
}

.implemented__item .gradient {
    border-radius: 10px;
    width: 100%;
    height: 340px;
    padding: 40px 45px;
    background: linear-gradient(180deg, #131B30 0%, rgba(19, 27, 48, 0.00) 100%);
}

.implemented__item--1 {
    background: url(/img/implemented-item-1.jpg) center / cover no-repeat;
}

.implemented__item--2 {
    background: url(/img/implemented-item-2.jpg) center / cover no-repeat;
}

.implemented__item--3 {
    background: url(/img/implemented-item-3.jpg) center / cover no-repeat;
}

.implemented__title {
    color: var(--Secondary, #2C3754);
}

.implemented__item h4 {
    margin-bottom: 30px;
}

.implemented__item .bottom-link {
    position: initial;
}

.inner-hero {
    background: #131B30;
}

.inner-hero .container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.hero h1 {
    margin: 0;
}

.inner-hero h1 {
    color: #fff;
    margin: 0;
}

.tags {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.tag {
    padding: 8px 18px;
    border-radius: 150px;
    background: var(--Grey, #EDEDED);
}

.tag--active {
    background: var(--Secondary, #2C3754);
    color: #fff;
}

.news-catalog .news__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    list-style: none;
    margin: 20px auto;
}

.news-catalog .news__item {
    padding: 0;
    border-radius: 7px;
    background: #F7F7F7;
}

.news-catalog .news__box {
    padding: 20px;
    padding-bottom: 50px;
    color: #131B30;
}

.news__info {
    color: #fff;
}

.news-catalog .news__item a {
    color: #131B30;
}

.news-catalog .news__item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 7px;
}

.news-catalog .bottom-link {
    left: 20px;
}

.news-catalog .news__date {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.news-catalog .news__name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
}

.portfolio__box .container {
    display: grid;
    gap: 70px;
    grid-template-columns: 370px 1fr;
    padding-top: 60px;
    padding-bottom: 100px;
    align-items: start;
}

.portfolio__menu {
    padding: 30px;
    border-radius: 10px;
    background: var(--Light-grey, #F7F7F7);
}

.portfolio__heading {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.portfolio__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--Secondary, #2C3754);
    font-size: clamp(20px, 5vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.portfolio__list .heading {
    color: var(--Primary, #008EEA);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.portfolio__list .implemented__item {
    position: relative;
}
.portfolio__list .implemented__item .gradient {
    padding-bottom: 100px;
}

.portfolio__list .bottom-link {
    position: absolute;
    bottom: 40px;
    left: 45px;
}

.policy__info p {
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.bg {
    background: url(img/bg-404.svg), linear-gradient(180deg, #131B30 0%, #2C3754 100%);
}

.page-404 .container {
    padding: 100px 0;
}

.page-404 img {
    width: 100%;
    margin: auto;
}

.page-404 h1 {
    margin-top: 40px;
    color: var(--White, #FFF);
    text-align: center;
    font-size: clamp(28px, 5vw, 48px);
}

.white-hero {
    background: #F7F7F7;
}

.white-hero h1 {
    color: var(--Secondary, #2C3754);
}

.delivery__info,
.delivery__info p {
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contacts__content .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contacts__content div,
.contacts__content p {
    color: var(--Secondary, #2C3754);
}

.contacts__team {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin: 50px auto;
}

.contacts__item {
    border-radius: 7px;
    background: #F7F7F7;
}

.contacts__item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 7px;
}

.contacts__box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 10px;
    padding-bottom: 50px;
}

.contacts__box .bottom-link {
    left: 10px;
    bottom: 20px;
    color: var(--Secondary, #2C3754);
}

.contacts__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.contacts__list .footer__item {
    padding: 30px;
    border-radius: 7px;
    background: var(--Light-grey, #F7F7F7);
}

.contacts__list .heading {
    margin-top: 20px;
    font-size: 12px;
}

.contacts__list address,
.contacts__list a {
    color: var(--Secondary, #2C3754);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    text-decoration: none;
    margin-bottom: 10px;
}

.contacts__map {
    grid-column: 1/3;
    grid-row: 1/3;
    overflow: hidden;
}

#map {
    padding: 0;
    min-height: 280px;
    background: grey;
}

#map .ymaps-2-1-79-map {
    width: 100% !important;
    height: 100% !important;
}

.footer-in-contacts {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-in-contacts .footer__info {
    margin: 0;
}

.partners .container {
    padding-top: 30px;
    padding-bottom: 60px;
}

.nav-links {
    margin-bottom: 30px;
    overflow: auto;
}

.nav-links a {
    color: var(--Secondary, #2C3754);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav-links a.nav-link--active {
    color: var(--Dark-grey, #B5B6BB);
}

.nav-links a:not(:first-child) {
    padding: 0 10px;
}

.nav-links a:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid #D9D9D9;
}

.partners #map {
    height: 650px;
    border-radius: 7px;
    overflow: hidden;
}

.about-us__hero {
    background: url('/img/about-us-hero.jpg') center / cover no-repeat;
}

.about-us__text {
    margin: 50px auto;
    color: var(--Secondary, #2C3754);
}

.player {
    margin: 30px 0;
}

.player img {
    width: 100%;
}

.home .discription h2 {
    text-align: left;
}
.discription h2 {
    text-align: center;
}

.our-production h2 {
    text-align: center;
}

.our-production .about-us__text p {
    margin: 0;
}

.gallery {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    margin: 30px auto;
}

.gallery img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: center;
}

.gallery-2 {
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    gap: 45px;
}

.reviews {
    padding: 50px 0;
    text-align: center;
    background: var(--Light-grey, #F7F7F7);
}

.reviews__list .swiper-slide {
    height: 600px !important;
    object-fit: cover;
}

.swiper-button-next {
    background: url(img/arrow-right-blue.svg) #2C3754 center no-repeat;
}

.swiper-button-prev {
    background: url(img/arrow-left-blue.svg) #2C3754 center no-repeat;
}

.reviews .swiper-pagination {
    position: initial !important;
    margin-top: 30px;
}

.awards {
    padding: 50px 0;
}

.awards h2 {
    text-align: center;
}

.awards__list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.awards__date {
    padding-bottom: 15px;
    border-bottom: 1px solid #D9D9D9;
}

.awards__info {
    padding-top: 15px;
    padding-left: 20%;
    border-top: 1px solid #D9D9D9;
}

.other-news {
    margin: 50px auto;
}

.other-news__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.other-news__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--Secondary, #2C3754);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */

    flex-wrap: wrap;
}

.other-news__back {
    padding-left: 30px;
    background: url(img/arrow-left-black.svg) left center no-repeat;
    text-decoration: none;
    color: var(--Secondary, #2C3754);
}

.other-news__next {
    padding-right: 30px;
    background: url(img/arrow-right-black.svg) right center no-repeat;
    text-decoration: none;
    color: var(--Secondary, #2C3754);
}

.news-post .heading {
    margin-top: 50px;
}

.portfolio-post__hero .container {
    text-align: left;
}

.portfolio-post__gallery {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
}

.portfolio-post__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-post__gallery img:nth-child(2) {
    grid-column: 2/5;
}

.portfolio-post__gallery img:nth-child(3) {
    grid-column: 5/7;
}

.portfolio-post__gallery img:nth-child(4) {
    grid-column: 1/4;
}

.portfolio-post__gallery img:nth-child(5) {
    grid-column: 4/7;
}

.single-page-temp__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.single-page-temp__item {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.single-page-temp__video {
    border-radius: 7px;
    height: 170px;
    object-fit: cover;
}

.single-page-temp__box {
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    flex-direction: column;
    border-radius: 7px;
    background: var(--Light-grey, #F7F7F7);
}

.single-page-temp__name {
    color: var(--Dark, #131B30);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.single-page-temp__info {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
}

.order-page__list {
    display: flex;
    flex-direction: column;
}

.order-page__item {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #EDEDED;
}

.order-page__item:first-child {
    border-top: 1px solid #EDEDED;
}

.order-page__item img {
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.order-page__box {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}

.order-page__content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order-page__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.order-page__number-box {
    display: flex;
    gap: 5px;
    align-items: center;
}

.order-page__articul {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 12px */
}
.articul {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 12px */
}

.order-page__name {
    color: var(--Dark, #131B30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-page__price-one {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-page__price-all {
    color: var(--Primary, #008EEA);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    color: var(--Primary, #008EEA);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-page__add {
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    border: none;
    border-radius: 50%;
    background: var(--Dark, #131B30);
    cursor: pointer;
}

.order-page__delete {
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    border: none;
    border-radius: 50%;
    background: var(--Dark, #131B30);
    cursor: pointer;
}

.order-page__info {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    color: var(--Dark-grey, #B5B6BB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-page__info div {
    display: flex;
    align-items: center;
}

.order-page__info select {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 0;
}

.portfolio-post__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 30px;
    margin-bottom: 70px;
}

.portfolio-post__list .catalog-main__item {
    position: relative;
    min-height: 200px;
    height: auto;
}

.portfolio-post__list .catalog-main__item p {
    margin: 15px 0;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background: #131B30;
    color: #fff;
}

footer a {
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 30px 50px;
    border-radius: 7px;
    border: 1px solid #2C3754;
    background: rgba(44, 55, 84, 0.20);
}

.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    padding-top: 25px;
    align-items: flex-start;
    list-style: none;
    border-top: 1px solid #2C3754;
}
.footer__title {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contacts .footer__title {
    color: var(--Secondary, #2C3754);
}

.footer__heading {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--Primary, #008EEA);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 18px */
    text-transform: uppercase;
}

.footer__info {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}

footer address {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

footer a {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
    text-decoration: none;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.footer__social a {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
}

.order-page__clear {
    width: 15px;
    height: 15px;
    background: url(img/clear.svg) center / contain no-repeat;
    border: none;
    cursor: pointer;
}

.order-page__other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}

.order-page__btn-clear {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.order-page__total-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.order-page__total-number {
    text-align: right;
    color: var(--Secondary, #2C3754);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27px */
    text-transform: uppercase;
}

.order-page__total-price {
    text-align: right;
    color: var(--Secondary, #2C3754);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 27px */
    text-transform: uppercase;
}

.download {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--Primary, #008EEA);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.download::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url(img/download.svg) center / contain no-repeat;
}

.order-page__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.order-page__lable {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--Dark-grey, #B5B6BB);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.order-page__lable span {
    color: #FF1212;
}

.order-page__input {
    width: 100%;
    padding: 5px 20px;
    color: var(--Dark, #131B30);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 3px;
    border: 1px solid var(--Dark-grey, #B5B6BB);
    background: var(--Grey, #EDEDED);
}
textarea.order-page__input,
.order-page__input[type="file"] {
    height: 100px;
    resize: none;
}
.order-page__lable:first-child {
    grid-column: 1/3;
}

.order-page__lable:nth-child(6) {
    grid-column: 1/3;
}
.order-page__form-other {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.order-page__form-other label a {
    color: var(--Dark, #131B30);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
.order-page__form-other .btn {
    margin: 0;
}
.series-category__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    margin-bottom: 30px;
}
.series-category__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 7px;
    background: #F7F7F7;
    color: var(--Secondary, #2C3754);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
    cursor: pointer;
}
.series-category__item img {
    width: 65px;
    height: 65px;
    object-fit: contain;
}
.product__list {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: start;
    gap: 60px;
}
.product__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product__item .h4,
.product__item  p {
    margin: 0;
}
.product__name {
    margin-bottom: 40px;
}
ul {
    margin-bottom: 30px;
}
li {
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.product__articul {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.product__price {
    padding: 25px;
    border-radius: 7px;
    background: var(--Light-grey, #F7F7F7);
}
.product__price--info {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.product__price--number {
    color: var(--Primary, #008EEA);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.product__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product__card--text {
    color: var(--Secondary, #2C3754);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.product__card--box {
    display: flex;
    gap: 5px;
    align-items: center;
}
.product__card--price {
    color: var(--Secondary, #2C3754);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
.product__box {
    display: flex;
    gap: 30px;
    align-items: baseline;
    padding-bottom: 40px;
    border-bottom: 1px solid #B5B6BB;
}
.product__box--left {
    display: grid;
    gap: 30px;
}
.product__box--right {
    display: grid;
    gap: 25px;
}
.product__box--title {
    color: var(--Dark, #131B30);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
.product__box--content {
    display: grid;
    gap: 10px;
}
.product__box--list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.product__box--item {
    padding: 5px;
    color: var(--Secondary, #2C3754);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 95% */
    border-radius: 3px;
    background: var(--Grey, #EDEDED);
    cursor: pointer;
}
.product__box--item-active {
    color: var(--White, #FFF);
    background: var(--Secondary, #2C3754);
}
.product__box--right a {
    color: var(--Primary, #008EEA);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    text-decoration-line: underline;
}
.product__box--content span {
    color: var(--Dark-grey, #B5B6BB);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}
.product__box--color-active {
    border: 2px solid #018eea;
    border-radius: 50px;
}
.accessories__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.accessories__item {
    display: grid;
    gap: 10px;
    padding: 20px 15px;
    border-radius: 7px;
    border: 1px solid var(--Grey, #EDEDED);
}
.accessories__img {
    width: 100%;
    height: 110px;
    object-fit: contain;
}
.accessories__item .buy {
    margin-left: auto;
}
.product__box--checkboxes {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.product__box--label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Secondary, #2C3754);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}














@media (max-width: 1250px) {
    .header-logo__text {
        display: none;
    }

    .portfolio__box .container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .portfolio__list .implemented__item .gradient {
        padding: 20px;
    }

    .portfolio__list .bottom-link {
        position: initial;

    }

    .catalog-category__item.director {
        grid-column: auto;
    }

    .catalog-category__item.personal {
        grid-column: auto;
    }

    .footer-logo__text {
        display: block;
    }
}

@media (max-width: 1024px) {
    .product__box {
        flex-direction: column;
    }
    .product__box--left {
        grid-template-columns: 1fr 1fr;
    }
    .product__list {
        gap: 20px;
        grid-template-columns: 1fr;
    }
    .hero p {
        margin-top: 35px;
    }

    .header-nav,
    .header-contacts__list,
    .header-contacts__vk,
    .header-contacts__telegram {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .catalog__box {
        grid-template-columns: 1fr;
    }

    .catalog__show-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        color: var(--White, #FFF);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 14px */
        text-transform: uppercase;
        border-radius: 7px;
        border: none;
        background: var(--Secondary, #2C3754);
    }

    .catalog__show-filter::after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background: url(img/setting.svg) center no-repeat;
    }

    .catalog__filter {
        display: none;
    }

    .portfolio__menu {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .implemented__item,
    .implemented__item .gradient {
        height: auto;
    }

    .reviews__list .swiper-slide {
        height: 420px !important;
    }

    .order-page__form {
        grid-template-columns: 1fr;
    }
    
    .order-page__lable:first-child {
        grid-column: initial;
    }

    .order-page__lable:nth-child(6) {
        grid-column: initial;
    }
}

@media (max-width: 768px) {
    .wide-img {
        height: 240px;
    }

    .hero .container {
        padding: 95px 20px 155px;
    }

    .target__list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }

    .news__list {
        grid-template-columns: 1fr;
    }

    .news__item--gubernatorskiy-licey-v-solnechnom {
        grid-row: auto;
        grid-column: auto;
    }

    .implemented__list {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    .news-catalog .news__list {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        list-style: none;
        margin: 20px auto;
    }

    .contacts__content .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contacts__map {
        grid-column: auto;
        grid-row: auto;
    }

    .portfolio-post__gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .portfolio-post__gallery img:nth-child(2) {
        grid-column: initial;
    }

    .portfolio-post__gallery img:nth-child(3) {
        grid-column: initial;
    }

    .portfolio-post__gallery img:nth-child(4) {
        grid-column: initial;
    }

    .portfolio-post__gallery img:nth-child(5) {
        grid-column: initial;
    }

    .portfolio-post__list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }

    .order-page__price-one {
        display: none;
    }

    .footer__logo {
        margin: auto;
        text-align: center;
    }

    .footer__list {
        text-align: center;
    }

    .footer__item {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .order-page__item {
        flex-wrap: wrap;
    }

    .order-page__info {
        flex-direction: column;
    }

    .order-page__other {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .order-page__btn-clear {
        width: 100%;
        text-align: left;
    }
    .order-page__total-box {
        width: 100%;
        flex-direction: column;
    }
    .order-page__total-number {
        width: 100%;
        text-align: right;
    }
    .order-page__total-price {
        width: 100%;
        text-align: right;
    }
}